.App {
  text-align: center;
}

body{
    background-color: beige;
}
.details-page{
    display: flex;
    gap: 4rem;
    padding: 10rem 10rem;   
}

.card-style{
    border: 2px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0 auto;
    text-align: center;
    padding: 3rem;
    background-color: rgb(205, 237, 89);
}

.card-style:hover{
    background-color: brown;
    color: aliceblue;
}